
@{
    ViewBag.Title = "Dashboard";
}

@model QuickCode.ViewModels.ProductionVM
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.js"></script>
@* //----------CDN FOR BOOTSTRAP ---------------------------------------------------------- *@
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
<style>
    html, body { 
      background: url("http://i.imgur.com/nK0rgZi.jpg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
</style>
@if (!Request.IsAuthenticated)
{

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h1 class="flatOrange">Welcome to</h1>
                    <h2 class="flatOrange">Irwin's Production Database</h2>
                    <img src="http://i.imgur.com/Cx4orcw.png" style="width:100px;height:auto" />
                </div>
            </div>
            <div class="row top">
                <div class="col-sm-4 center fadedBox">
                    <h4>Record <i class="glyphicon glyphicon-pencil"></i></h4>
                    <h6>Production waste and Downtime Information</h6>
                </div>
                <div class="col-sm-4 center fadedBox">
                    <h4>View Dashboards <i class="glyphicon glyphicon-stats"></i></h4>
                    <h6>View plants efficieny for waste, downtime and manning</h6>
                </div>
                <div class="col-sm-4 center fadedBox">
                    <h4>Improve Efficiency <i class="glyphicon glyphicon-leaf"></i></h4>
                <h6>Make decisions based on the information provided</h6></div>
            </div>
            <div class="row">

                <div class="col-md-12 center" >
                    <div>
                        <div>
                           

                            <h3 class="flatCarrot">Login to use this Application here</h3>
                            <br />
                            <p>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg btn-embossed" })</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


<div class="container">
    @if (Request.IsAuthenticated)
    {
        <div class="row" style="margin-top:40px;">
            <div class="col-md-4">
                <img class="center" src="http://i.imgur.com/AipKiF7.png" style="width:300px;height:auto" />
            </div>
            <div class="col-md-4 center">
                <h1>Production Dashboard</h1>
                <p style="color:#7f8c8d;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:#7f8c8d;"></span> Dashboard displays the last 7 day's information by Plant</p>
                <p style="color:orange;">Current Fiscal Week: @Model.FiscalWeek.ToShortDateString() | Week No: @Model.FiscalWeekNo.ToString()</p>

            </div>
            <div class="col-md-4 center">
                <img src="http://i.imgur.com/Cx4orcw.png" style="width:120px;height:auto" />
            </div>
        </div>}
    <div class="row">
        @if (Request.IsAuthenticated)
        {
            <div class="col-md-12">
                <h2>Summary by plant</h2>
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            @if (Request.IsAuthenticated)
            {
                <p>Current Week No:  @Model.FiscalWeekNo | Fiscal WeekDate: @Model.FiscalWeek.ToShortDateString()</p>
                <table class="table table-striped dash table-bordered center">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Plant</th>
                            <th>Crumb</th>
                            <th>Compactor</th>
                            <th>General Packaging</th>
                            <th>Packaging</th>
                            <th>Actual Mix</th>
                            <th>Production (mins)</th>
                            <th>Downtime (mins)</th>
                            <th>Manning (hrs)</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">



                        <tr>
                            <td>Batch</td>
                            <td>@Model.BatchTotalCrumb</td>
                            <td>@Model.BatchTotalComp</td>
                            <td>@Model.BatchTotalGenPack</td>
                            <td>@Model.BatchTotalPack</td>
                            <td>@Model.BatchTotalMixes</td>
                            <td>@Model.BatchTotalTime</td>
                            <td>@Model.BatchTotalDowntime</td>
                            <td>@Model.BatchTotalManning</td>
                        </tr>
                        <tr>
                            <td>Pan</td>
                            <td>@Model.PanTotalCrumb</td>
                            <td>@Model.PanTotalComp</td>
                            <td>@Model.PanTotalGenPack</td>
                            <td>@Model.PanTotalPack</td>
                            <td>@Model.PanTotalMixes</td>
                            <td>@Model.PancakesTotalTime.</td>
                            <td>@Model.PancakesTotalDowntime</td>
                            <td>@Model.PancakesTotalManning</td>
                        </tr>
                        <tr>
                            <td>Roll</td>
                            <td>@Model.RollTotalCrumb</td>
                            <td>@Model.RollTotalComp</td>
                            <td>@Model.RollTotalGenPack</td>
                            <td>@Model.RollTotalPack</td>
                            <td>@Model.RollTotalMixes</td>
                            <td>@Model.RollTotalTime</td>
                            <td>@Model.RollTotalDowntime</td>
                            <td>@Model.RollTotalManning</td>
                        </tr>
                        <tr>
                            <td>Wheaten</td>
                            <td>@Model.WheatenTotalCrumb</td>
                            <td>@Model.WheatenTotalComp</td>
                            <td>@Model.WheatenTotalGenPack</td>
                            <td>@Model.WheatenTotalPack</td>
                            <td>@Model.WheatenTotalMixes</td>
                            <td>@Model.WheatenTotalTime</td>
                            <td>@Model.WheatenTotalDowntime</td>
                            <td>@Model.WheatenTotalManning</td>
                        </tr>
                        <tr>
                            <td>Soda</td>
                            <td>@Model.SodaTotalCrumb</td>
                            <td>@Model.SodaTotalComp</td>
                            <td>@Model.SodaTotalGenPack</td>
                            <td>@Model.SodaTotalPack</td>
                            <td>@Model.SodaTotalMixes</td>
                            <td>@Model.SodaTotalTime</td>
                            <td>@Model.SodaTotalDowntime</td>
                            <td>@Model.SodaTotalManning</td>
                        </tr>
                        <tr>
                            <td>Pancakes</td>
                            <td>@Model.PancakesTotalCrumb</td>
                            <td>@Model.PancakesTotalComp</td>
                            <td>@Model.PancakesTotalGenPack</td>
                            <td>@Model.PancakesTotalPack</td>
                            <td>@Model.PancakesTotalMixes</td>
                            <td>@Model.PancakesTotalTime</td>
                            <td>@Model.PancakesTotalDowntime</td>
                            <td>@Model.PancakesTotalManning</td>
                        </tr>
                        <tr>
                            <td>Potato</td>
                            <td>@Model.PotatoTotalCrumb</td>
                            <td>@Model.PotatoTotalComp</td>
                            <td>@Model.PotatoTotalGenPack</td>
                            <td>@Model.PotatoTotalPack</td>
                            <td>@Model.PotatoTotalMixes</td>
                            <td>@Model.PotatoTotalTime</td>
                            <td>@Model.PotatoTotalDowntime</td>
                            <td>@Model.PotatoTotalManning</td>
                        </tr>

                    </tbody>
                </table>
            }
        </div>
        <div class="col-md-3">

            @if (User.IsInRole("Administrator"))
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 style="text-align:center;">Menu</h5>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>@Html.ActionLink("View  Production Info", "Index", "Productions")</li>
                            <li>@Html.ActionLink("View  Downtime Info", "Index", "Downtimes")</li>
                            <li>@Html.ActionLink("View Plants", "Index", "Plants")</li>
                            <li>@Html.ActionLink("View  Downtime Types", "Index", "DowntimeTypes")</li>
                            <li>@Html.ActionLink("Custom Dashboard - Search", "Dashboard", "Home")</li>
                        </ul>
                    </div>
                </div>
            }
            @if (Request.IsAuthenticated && !User.IsInRole("Administrator"))
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 style="text-align:center;">Menu</h5>
                    </div>
                    <div class="panel-body">
                        <h4>Select one of the following</h4>
                        <ul>
                            <li>@Html.ActionLink("View  Production Info", "Index", "Productions")</li>
                            <li>@Html.ActionLink("View  Downtime Info", "Index", "Downtimes")</li>
                            <li>@Html.ActionLink("Custom Dashboard - Search", "Dashboard", "Home")</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
        @*<div class="col-md-3">
                @if (Request.IsAuthenticated)
                {
                    <h3>Total mixes by plant</h3>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Plant</th>
                                <th>Actual Mix</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr>
                                <td>Batch</td>
                                <td>@Model.BatchTotalMixes</td>
                            </tr>
                            <tr>
                                <td>Pan</td>
                                <td>@Model.PanTotalMixes</td>
                            </tr>
                            <tr>
                                <td>Roll</td>
                                <td>@Model.RollTotalMixes</td>
                            </tr>
                            <tr>
                                <td>Wheaten</td>
                                <td>@Model.WheatenTotalMixes</td>
                            </tr>
                            <tr>
                                <td>Soda</td>
                                <td>@Model.SodaTotalMixes</td>
                            </tr>
                            <tr>
                                <td>Pancakes</td>
                                <td>@Model.PancakesTotalMixes</td>
                            </tr>
                            <tr>
                                <td>Potato</td>
                                <td>@Model.PotatoTotalMixes</td>
                            </tr>

                        </tbody>
                    </table>
                }
            </div>*@
    </div>
    @*<div class="row">
        @*<div class="col-md-3">
            </div>
         <div class="col-md-3">
                @if (Request.IsAuthenticated)
            {
                    <h3>Total production time per plant</h3>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Plant</th>
                                <th>Time (mins)</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr>
                                <td>Batch</td>
                                <td>@Model.BatchTotalTime</td>
                            </tr>
                            <tr>
                                <td>Pan</td>
                                <td>@Model.PancakesTotalTime.</td>
                            </tr>
                            <tr>
                                <td>Roll</td>
                                <td>@Model.RollTotalTime</td>
                            </tr>
                            <tr>
                                <td>Wheaten</td>
                                <td>@Model.WheatenTotalTime</td>
                            </tr>
                            <tr>
                                <td>Soda</td>
                                <td>@Model.SodaTotalTime</td>
                            </tr>
                            <tr>
                                <td>Pancakes</td>
                                <td>@Model.PancakesTotalTime</td>
                            </tr>
                            <tr>
                                <td>Potato</td>
                                <td>@Model.PotatoTotalTime</td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>*@
    @*<div class="col-md-3">
            @if (Request.IsAuthenticated)
        {
                <h3>Total downtime time per plant</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Plant</th>
                            <th>Time (mins)</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        <tr>
                            <td>Batch</td>
                            <td>@Model.BatchTotalDowntime</td>
                        </tr>
                        <tr>
                            <td>Pan</td>
                            <td>@Model.PanTotalDowntime</td>
                        </tr>
                        <tr>
                            <td>Roll</td>
                            <td>@Model.RollTotalTime</td>
                        </tr>
                        <tr>
                            <td>Wheaten</td>
                            <td>@Model.WheatenTotalTime</td>
                        </tr>
                        <tr>
                            <td>Soda</td>
                            <td>@Model.SodaTotalDowntime</td>
                        </tr>
                        <tr>
                            <td>Pancakes</td>
                            <td>@Model.PancakesTotalDowntime</td>
                        </tr>
                        <tr>
                            <td>Potato</td>
                            <td>@Model.PotatoTotalDowntime</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>*@

</div>




<script type="text/javascript">


</script>


