@model PagedList.IPagedList<QuickCode.Models.Production>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Mark.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.js"></script>
@* //----------CDN FOR BOOTSTRAP ---------------------------------------------------------- *@
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
<style>
     body {
      background: url("http://i.imgur.com/2JbMKmd.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
</style>
@{
    ViewBag.Title = "Production";
}


@if (Request.IsAuthenticated)
{
    @*<h2>Production Records</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <div class="row" style="margin-top:30px;margin-bottom: 20px;">
        <div class="col-md-3">
            <h2>Production Records</h2>
            <p>Create a New Record</p>
            <a href="@Url.Action("Create", "Productions")" class="btn btn-lg btn-primary" style="margin-bottom:10px; box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);">
                Add
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>
            <p>All production records can be found in the table below</p>
        </div>
        <div class="col-md-3">
            <div class="col-md-4 center">
                <img src="http://i.imgur.com/TtQHcws.png" style="width:100px;height:auto" />
            </div>
        </div>
        <div class="col-md-6" style="text-align:right;">
            <div>
            <p>
                <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
                Enter a Name, Shift, Plant or Downtime Type below:
            </p>
            @using (Html.BeginForm("Index", "Productions", FormMethod.Get))
            {
                <form class="form-group-lg">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "textbox" })
                    <input class="btn btn-embossed btn-primary" type="submit" value="Search" />
                </form>
                <br />
                <form class="form-group-sm">
                    <p><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Date Range Search below:</p>
                    <label for="DateFrom">Date From:</label>
                    <input type="text" class="Datetextbox center" name="DateFrom" id="DateFrom" />
                    <br />
                    <label for="DateFrom">Date To:</label>
                    <input type="text" class="Datetextbox center" name="DateTo" id="DateTo" />
                    <br />
                    <input class="btn btn-embossed btn-primary" type='submit' value='Filter' />
                </form>

            }
            </div>
        </div>
    </div>

    <div class="row" style="overflow-x: auto;">
        <div class="col-lg-12">
            <table class="table table-bordered left tableBig horizontal-scroll table-striped">
                <thead style="background-color:#bdc3c7; color:#ffffff;">
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.User.UserName)*@
                            @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Plant.Name)*@
                            @Html.ActionLink("Plant Name", "Index", new { sortOrder = ViewBag.PlantSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Shift.Name)*@
                            @Html.ActionLink("Shift Type", "Index", new { sortOrder = ViewBag.ShiftSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.ActualMix)*@
                            Actual Mix
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.CrumbWaste)*@
                            Crumb Waste
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Cmp_Waste)*@
                            Comp. Waste
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Pack_Waste)*@
                            Pack. Waste
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Gen_Pack_Waste)*@
                            Gen. Waste
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Gen_Pack_Waste)*@
                           Cleaner Waste
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Manning)*@
                            Manning
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Notes)*@
                            Notes
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Notes)*@
                            Quality Issues
                        </th>
                        <th>
                            Total Waste (Kg)
                        </th>
                        <th>
                            Total Time (Mins)
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.StartDate)*@
                            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.StartTime)*@
                            Start Time
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.EndTime)*@
                            End Time
                        </th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Plant.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Shift.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActualMix)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CrumbWaste)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cmp_Waste)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pack_Waste)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gen_Pack_Waste)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cleaner_Waste)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manning)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Notes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualityIssues)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalWaste)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalProdMins)
                            </td>
                            <td>
                                <p>Start Date:</p>

                                @Html.DisplayFor(modelItem => item.StartDate)<br />
                                <p>End Date:</p>

                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndTime)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductionID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ProductionID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductionID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:right;">
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            <hr />
        </div>


        <div>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="color:dodgerblue"></span>&nbsp;&nbsp;@Html.ActionLink("Back to Homepage", "Index", "Home")
        </div>
    </div>
}

<script type="text/javascript">

    $(function () {
        $('#DateTo').datetimepicker();
        $('#DateFrom').datetimepicker();

    });
</script>