@model PagedList.IPagedList<QuickCode.Models.Production>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Production";
}
@if (Request.IsAuthenticated)
{
@*<h2>Production Records</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="row">
    <div class="col-lg-4">
        <h2>Production Records</h2>
        <p>Create a New Record</p>
        <a href="@Url.Action("Create", "Productions")" class="btn btn-primary">
            Add
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-offset-1 col-md-7">
        @using (Html.BeginForm("Index", "Productions", FormMethod.Get))
        {
            <h2>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </h2>
        }
    </div>
</div>

<div style="overflow-x:scroll;">
    <table class="table table-bordered table-responsive table-striped" >
        <thead style="background-color:#16a085; color:#ffffff;">
            <tr>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.User.UserName)*@
                    @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.Plant.Name)*@
                    @Html.ActionLink("Plant Name", "Index", new { sortOrder = ViewBag.PlantSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.Shift.Name)*@
                    @Html.ActionLink("Shift Type", "Index", new { sortOrder = ViewBag.ShiftSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.ActualMix)*@
                    Actual Mix
                </th>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.CrumbWaste)*@
                    Crumb Waste
                </th>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.Cmp_Waste)*@
                    Comp. Waste
                </th>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.Pack_Waste)*@
                    Pack. Waste
                </th>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.Gen_Pack_Waste)*@
                    Gen. Waste
                </th>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.Manning)*@
                    Manning
                </th>
                <th class="text-align: left;padding: 8px;">
                    Total Waste (Kg)
                </th>
                <th class="text-align: left;padding: 8px;">
                    Total Time (Mins)
                </th>
                <th class="text-align: left;padding: 8px;"style="width:100px;">
                    @*@Html.DisplayNameFor(model => model.Date)*@
                    @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.StartTime)*@
                    Start Time
                </th>
                <th class="text-align: left;padding: 8px;">
                    @*@Html.DisplayNameFor(model => model.EndTime)*@
                    End Time
                </th>
                <th class="text-align: left;padding: 8px;">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-align: left;padding: 8px;">
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.Plant.Name)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.Shift.Name)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.ActualMix)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.CrumbWaste)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.Cmp_Waste)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.Pack_Waste)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.Gen_Pack_Waste)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.Manning)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.TotalWaste)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.TotalProdMins)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center; width:100px;">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td class="text-align: left;padding: 8px;" style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td class="text-align: left;padding: 8px;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductionID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductionID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductionID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    
    <hr />
    <div>
        @Html.ActionLink("Back to Homepage", "Index", "Home")
    </div>
}