@model QuickCode.Models.Downtime

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Downtime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.DowntimeType.Name)*@
            Downtime Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DowntimeType.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Plant.Name)*@
            Plant Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plant.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Shift.Name)*@
            Shift Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.User.FirstName)*@
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.StartTime)*@
            Start Time (Mins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.EndTime)*@
            End Time (Mins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Reason)*@
            Reason
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Action)*@
            Action
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Date)*@
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TotalDownMins)*@
            Total Mins (Downtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDownMins)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DowntimeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
