@model PagedList.IPagedList<QuickCode.Models.Downtime>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@if (Request.IsAuthenticated)
{
<div class="row">
     <div class="col-md-4">
         <h2>Downtime Records</h2>
         <p>Create a New Record</p>
             <a href="@Url.Action("Create", "Downtimes")" class="btn btn-primary">
                 Add
                 <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
             </a>
     </div>
    <div class="col-md-offset-1 col-md-7">
        @using (Html.BeginForm("Index", "Downtimes", FormMethod.Get))
        {
            <h2>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </h2>
        }
    </div>

</div>


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@*<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Create", "Downtimes")" class="btn btn-primary">
            Add
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>
    </div>
</div>*@
<div  class="row" style="overflow-x:scroll;">
        <table class="table table table-bordered table-responsive table-striped">
            <thead style="background-color:#16a085; color:#ffffff;">
                <tr>
                    <th class="text-align: left;padding: 8px;">
                        @*@Html.DisplayNameFor(model => model.User.UserName)*@
                        @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th class="text-align: left;padding: 8px;">
                        @*@Html.DisplayNameFor(model => model.DowntimeType.Name)*@
                        @Html.ActionLink("Downtime Type", "Index", new { sortOrder = ViewBag.DownSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th class="text-align: left;padding: 8px;">
                        @*@Html.DisplayNameFor(model => model.Plant.Name)*@
                        @Html.ActionLink("Plant Name", "Index", new { sortOrder = ViewBag.PlantSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th class="text-align: left;padding: 8px;">
                        @*@Html.DisplayNameFor(model => model.Shift.Name)*@
                        @Html.ActionLink("Shift Type", "Index", new { sortOrder = ViewBag.ShiftSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th class="text-align: left;padding: 8px;">
                        @*@Html.DisplayNameFor(model => model.Reason)*@
                        Reason
                    </th>
                    <th class="text-align: left;padding: 8px;">
                        @*@Html.DisplayNameFor(model => model.Action)*@
                        Action
                    </th>
                    <th class="text-align: left;padding: 8px;">
                        Total Time (Mins)
                    </th>
                    <th class="text-align: left;padding: 8px;">
                        @*@Html.DisplayNameFor(model => model.Date)*@
                        @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th class="text-align: left;padding: 8px;">
                        @*@Html.DisplayNameFor(model => model.StartTime)*@
                        Start Time
                    </th>
                    <th class="text-align: left;padding: 8px;">
                        @*@Html.DisplayNameFor(model => model.EndTime)*@
                        End Time
                    </th>
                    <th class="text-align: left;padding: 8px;">Options</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DowntimeType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plant.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shift.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalDownMins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.DowntimeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.DowntimeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.DowntimeID })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="row">
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",  new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        <hr/>
        
    <div>
        @Html.ActionLink("Back to Homepage", "Index", "Home")
    </div>
        </div>
}