@model IEnumerable<QuickCode.Models.Downtime>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DowntimeType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plant.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDownMins)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DowntimeType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plant.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDownMins)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DowntimeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DowntimeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DowntimeID })
        </td>
    </tr>
}

</table>
